@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://image.winudf.com/v2/image1/Y29tLm1vdmluZy53YWxscGFwZXJzLndvb2QubGl2ZS53YWxscGFwZXJfc2NyZWVuXzlfMTU1NzE3MjAzN18wMzQ/screen-9.jpg?fakeurl=1&type=.jpg);
}

header {
  width: 100%;
  background-color: black;
  font-family: 'Bebas Neue', cursive;
  z-index: 1;
}

.menu {
  width: 95%;
  max-width: 1500px;
  margin: auto;
  padding: .5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo .logo-name img {
  width: 180px;
}

.menu .menu-link {
  font-size: 35px;
}

.logo .btn-menu {
  display: none;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}

.menu .menu-link ul {
  list-style: none;
}

.menu .menu-link ul li {
  display: inline-block;
}

.menu .menu-link ul li a {
  text-decoration: none;
  color: #d6c85f;
  margin-left: 15px;
  font-size: 1.2em;
  border-bottom: 2px solid transparent;
  transition: .2s;
} 

.menu .menu-link ul li a:hover {
  border-bottom: 2px solid white;
  color: white;
}

.menu-link li .active {
  color: white;
  border-bottom: 2px solid white;
}

@media screen and (max-width: 700px) {
  .logo .btn-menu {
    display: block;
  }

  .container-menu {
    width: 100%;
  }

  .container-menu .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu .menu-link {
    position: absolute;
    background: rgba(0,0,0,.7);
    height: 100vh;
    width: 100%;
    top: 52px;
    left: -100%;
    z-index: 1000;
  }

  .menu .menu-link ul li {
    display: block;
  }

  .menu .menu-link ul li a {
    display: block;
    height: 50px;
    padding: 15px;
    text-align: center;
    margin: 0;
  }
}

@media screen and (min-width: 500px) {
  .container-menu .logo .logo-name a {
    font-size: 25px;
  }

.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
footer{
  color: #d9d9d9;
  font-family: 'Poppins', sans-serif;
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.social img {
  width: 40px;
  height: 40px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form .msgForm{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form .msgForm:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}

/* HOME.HTML */

.mainHome h1 {
  font-family: 'Cinzel', serif;
  font-size: 3REM
}

.textHome {
  font-family: 'Hind Guntur', sans-serif;
  text-align: justify;
  font-size: 2.4REM;
  line-height:2.3REM;
}

.imgHome {
  width: 400px;
  height: 400px;
}

.contenedorHome {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
}

.contenedorItem {
  flex: 0 0 50%;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

/* CONTACTO.HTML */

.form-title {
  font-weight: normal;
  font-family: sans-serif;
  text-align: center;
  color: #ff851b;
  padding: 20px 0;
  font-size: 35px;
}

.form {
  background-color: rgba(0,0,0,.6);
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
}

.form-label {
  display: block;
  color: white;
  font-size: 16px;
  font-family: Roboto;
  position: relative;
}

.form-input, .form-textarea {
  background: rgba(0,0,0,0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid #ff851b;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: white;
  font-family: Roboto;
  font-size: 20px;
}

.form-textarea {
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
}

.enviar {
  width: 100%;
  font-family: Roboto;
  outline: none;
  background: #ff851b;
  font-size: 16px;
  border: none;
  color: white;
  padding: 15px 0;
  cursor: pointer;
  transition: all .5s ease;
  font-size: 17px;
}

.contenedorForm .form .enviar:hover {
  background: #f29718;
}

/* SERVICIOS.HTML */

.contenedor_servicios {
  width: 90%;
  background: white;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 50px;
  box-shadow: 0 0 20px #333;
}

.table_title {
  grid-column-start: 1; 
  grid-column-end: 5;
  background: rgba(48,65,128,1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
}

.table_item ul {
  list-style: none;
  padding: 0;
  margin: 0;
} 

.table_header, .table_item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_header {
  font-weight: bold;
  font-size: 1.5em;
}

.table_item {
  padding: 10px;
  font-size: 1.2em;
} 
/* GALERIA.HTML */

.container {
  padding: 40px;
}

/* HABITACIONESYRESERVAS.HTML */

.Reservas {
    font-family: 'Open Sans', sans-serif;
    padding-top: 30px;
}

.contenedorReserva a {
  text-decoration: none;
}

.contenedorReserva a:hover {
  text-decoration: underline;
}

.contenedorReserva {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}

.card__thumbnail {
  width: 650px;
  height: 200px;
  
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
}

.card__img {
  width: 100%;
}

.card__titulo {
  font-family: 'Raleway', sons-serif;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px;
}

.card__enlace {
  color: black;
}

.card__extracto {
  line-height: 20px;
  color: #6d6d6d;
  margin-bottom: 20px;
}

.boton {
  border: none;
  min-width: 180px;
  height: 50px;
  padding: 0 30px;
  background: #000;
  color: #fff;
  display: inline-block;
  border-radius: 100px;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #403cc2;
  transition: .3 ease all;
}